* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  --header-height: 90px;
  --gray01: #111114;
  --bg: #f4f4f4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}
fieldset{
  border: 0;
}
ul{
  list-style: none;
}
body{
  font-family: 'TWKEveret','Pretendard' ,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  font-size: 1rem;
  z-index: 2;
  background: var(--bg);
  color: var(--gray01);
}